/* 
    Created on : 2014-10-15, 9:46:56
    Author     : lirun
*/
body{
  font-family: "Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  min-width: 320px;
}
.tinmeBgColor{ background-color: #c32f80; }
.tinmeFtColor{ color: #c32f80 }
.header{
  height: 2.66667em;
  color: #fff;
  font-size: 1.28571em;
}
.header p{ margin-bottom: 0; }
ul,li,a{ 
  padding: 0; 
  margin: 0;
}
li{
  list-style: none;
}
.header li{
  float: left;
  width: 50%;
  padding: 0.61111em 0;
}
.header li:first-child,.header li:last-child{
  width: 25%;
  padding: 0;
}
.header li:first-child a{
  text-align: left;
}
.header li:last-child a{
  text-align: right;
}
.header li a{
  display: inline-block;
  padding: 0.83333em;
  outline: medium none;
  width: 100%;
  color: #FFF;
}
.input-group .fa{
  line-height: 20px;
  font-size: 16px;
}
.header li a:hover{
  text-decoration: none;
  background-color: #fff;
  color: #c32f80;
}
.cr{ /* copyright */
  color:#c6c6c6;
  font-size: 1.71428em;
  margin: 6em 0 1em;
}
/* 以上50行是tianmeAPP的header与footer，后期可独立出来 */

/*个人信息样式*/
.list-group{ 
  width: 90%; 
  margin: 20px auto;
}
.list-group .fa{
  font-size: 28px;
  color: rgba(105, 101, 101, 0.79);
  text-align: right;
  width: 10%;
  line-height: 40px;
}
.list-group .title,
.list-group .content{
  text-align: left;
}
.fl{ 
  float: left;
  width:90%;
}
.list-group .title{
  display: block;
}
.list-group .t-pass{
  line-height: 28px;
}
.list-group .content{
  display: block;
  color: rgba(105, 101, 101, 1);
}
.list-group-item {
  padding: 0;
}
.list-group-item a{
  color: #333;
  display: block;
  padding: 6px 10px;
  outline: none;
}
.list-group-item a:hover{
  background-color: #f7f7f7;
}
/*收货地址样式*/
.panel-group{
    width:90%;
    text-align: center;
    margin: 0 auto 20px;
  }
  .panel-group .panel{ border-radius: 0; }
  .panel-body,.panel-heading{ padding:0; }
  .panel-body li:last-child{ border-bottom: 0; padding-bottom: 0;}
  .panel-body a, .panel-heading a{
    display: block;
    padding: 10px 0;
    cursor: pointer;
    color:#333;
  }
  .panel-body a:hover,
  .panel-body a:focus,
  .panel-heading a:hover,
  .panel-heading a:focus{
    text-decoration: none;
    outline: none;
  }
  .panel-heading a{ border-bottom:0; }
  .panel-body a:hover{ background-color: #f5f5f5; }
  
  .address{
    margin: 10px;
    padding-top:10px;
/*    outline: 2px solid;*/
    border-radius: 3px;
    background: url("../images/APP/envelope.png") 0% 0% / auto 4px repeat-x;
    box-shadow: 0 0 2px #bbb;
  }
  .address p{
    margin: 6px 0 8px 10px;
    text-align: left;
  }
  .address p span:first-child{
    padding-right:20px;
  }
  .address li+li{
    display: inline-block;
    width: 50%;
    border-top: 1px solid #ddd;
  }
  .address li:last-child{ 
    border-left: 1px solid #ddd; 
    margin-left: -5px;
  }
  .address .fa{ padding-right: 10px; }
/*  .aa{
    border: 1px solid  #bbb;
    border-radius: 5px;
    box-shadow: inset 0 0 2px #ccc;
    display: none
  }
  .changeA{
    display: inline-block;
    width: 30px;
    -webkit-transition:all 2s linear;
         -o-transition:all 2s linear;
            transition:all 2s linear;
  }*/